* {
    box-sizing: border-box;
}
html, body {
    margin: 0;
    padding: 0;
}

body {
    background:gainsboro;  
    font-family: sans-serif;     
}

h1 {
    margin: 0;
    font-size: 3em;
}

h1 > span {
    color: #fb0081;
}

.container {
    text-align: center;
    padding: 2em;   
    width: 100%;
    background:ghostwhite;
    margin-bottom: 50px;
}


.subtitle {
    margin-top: 0;
    font-size: 1.5em;
    
}

.dog-basket {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 90%;
    margin: 0 auto;
    flex-wrap: wrap;
}

img{
    width: 150px;
    margin: 0 auto;
}

.card-style{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    background: white;
    color: black;
    border-radius: 65px 0px 65px 0px;
    box-shadow: 2px 2px 5px #bababa;
    width: 350px;
    margin: 15px;
    padding: 2em;
}
.btn-more{
    align-self: center;
    padding: 10px 20px;
    width: 75%;
    border: 2px solid black;
    color: black;
    font-weight: bold;
    font-size: 16px;
    background: white;
    cursor: pointer;
}
.btn-more:hover{
    transform: scale(1.2,1.2);
    background: black;
    color: white;
    transition: ease-in-out 0.2s;
}

.post-style{
    padding: 10px;
    background: white;
    border-radius: 10px;
    box-shadow: 2px 2px 5px #bababa;
    width: 400px;
    height: 550px;
    margin: 0 auto;
    margin-bottom: 25px;
    
}
.post-card-img{
    width: 100%;
    height: 300px;
    object-fit: cover;
}

.profile-modal{
    position: relative;
    width: 75%;
    padding: 45px;
    margin:0 auto;
    background:white;
    border-radius: 65px 0px 65px 0px;
    box-shadow: 2px 2px 5px #bababa;
    font-size: 24px;
    text-align: center;
    color: black;
    
}
.profile-modal h2{
    color:#fb0081;
}
.close-button{
    margin-top: 5px;
    margin-right: 5px;
    position:absolute;
    top:0;
    right:0;
    padding: 10px 20px;
    background-color: black;
    color:white;
    font-size: 18px;
    font-weight: bold;
    border: none;
}
.close-button:focus,
.close-button:hover
{
    background-color:#fb0081;
    color: white;
}
.toy{
    text-decoration: underline wavy #fb0081;
   font-weight: bold;
}
.profile-img{
    height: 200px;    
    object-fit: contain;
}
.profile-img:focus,
.profile-img:hover{
    z-index: 10;
    transform: scale(4);
    transition: ease-in-out 0.5s;
}
.picContainer{
    display: flex;
    flex-direction: row;
}
.picContainer div{
    margin: 0 auto;
    width: 250px ;
}
.picContainer p{
    font-style: italic;
    color: grey;
    font-size: 16px;
}